<div class="nav-bar">
  <div class="nav-bar_header">
    <img class="user-pic" src="img/alameda.jpg" alt="user-pic" />
    <h1 class="user-home">Home</h1>
    <img class="user-starred" src="img/starredTweets.png" alt="user-starred" />
  </div>
  <div class="nav-bar-subheader">
    <img class="user-timeline" src="img/timeline.png" alt="user-home" />
    <img class="user-search" src="img/research.png" alt="user-search" />
    <img class="user-notifications" src="img/notification.png" alt="user-notifications" />
    <img class="user-messages" src="img/mail.png" alt="user-messages" />
  </div>
</div>
<form id="user-tweet" class="user-tweet" method="POST" action="/">
  <input name="text" type="text" placeholder="What is happening..?">
  <button class="user-tweet__button" type="submit">Post</button>
</form>
{{#each tweets}}
<div class="tweet">
  <div class="wrapper">
    <div id="tweet__header" class="tweet__header">
      <span id="feed-user__pic">
        <img src="img/alameda.jpg" class="feed-user__pic" />
      </span>
      <span id="feed-user__name" class="feed-user feed-user__name">{{this.user}}</span>
      <span id="feed-user__handle" class="feed-user">{{this.handle}}</span>
      <span id="feed-user__timestamp" class="feed-user">{{this.timestamp}}</span>
    </div>
    <div id="tweet__body" class="tweet">
      <p class="tweet__description">{{this.text}}</p>
      <div class="tweet__card">
        <span id="tweet__pic">
          <img src="img/alameda.jpg" class="tweet__pic" />
          <p class="tweet__link">{{this.link}}</p>
        </span>
      </div>
    </div>
    <div class="tweet__footer">
      <img class="tweet__interaction" src="img/comment.png" alt="user-home" />
      <img class="tweet__interaction" src="img/heart.png" alt="user-search" />
      <img class="tweet__interaction" src="img/retweet.png" alt="user-notifications" />
      <img class="tweet__interaction" src="img/mail.png" alt="user-messages" />
    </div>
    <div class="tweet__footer__delete">
      <form id="delete-tweet" class="delete-tweet" method="POST" action="/{{this.id}}?_method=DELETE">
        <button class="delete-tweet" type="submit" name="_method" value="DELETE">Delete Tweet</button>
      </form>
      <a href='/update-tweet/{{this._id}}'>Go to edit tweet</a>
    </div>
  </div>
</div>

{{/each}}